.container {
    display: flex;
    width: 100%;
    height: 100vh;
    align-items: center;
    justify-content: center;
    gap: 10%;
    background-color: black;
}

.link {
    font-size: 2rem;
    text-decoration: none;
    background-color: rgb(255, 123, 0);
    border-radius: 30px;
    border: 2px solid white;
    color: white;
    width: 10%;
    height: 8%;
    display: flex;
    align-items: center;
    justify-content: center;
}